<div id="page_wrapper">
  <div id="profile_image">
  	<%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
  <h1>It's Mr. Stick Figure</h1>
  <p>I would like to share a story with you. This is a simple story of how your faith and your belief can make a difference in someone else's life without you even knowing it.

My story begins sadly as I lost someone I loved dearly to what I now call "The Beast." What I am referring to is suicide. The woman I loved was overcome with past emotions and events that, eventually, wound up taking her away from me.

For months, even years, I struggled with this as I had no idea about what depression was nor how it impacted your life so deeply. Now, I've discovered, it is not only a common affliction but also not easily treatable by today's medical community.

Becoming deeply depressed myself, and not taking good care of my health, I finally turned my life to God, The Son and The Holy Spirit. It was here, I eventually found solace in my world.

I began taking weekend trips to the shore where I would observe the sunrise and literally feel the glory of God as I watched the sun break the horizon; felt the wind from the sea filling me with the Holy Spirit; and the mist from the ocean caressing my face as if Jesus himself was calming my aching soul.</p>
  </div>
</div>